.popup-thank__you {
  .default-popup__caption {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .popup-thank__you {
    .default-popup__text {
      font-size: 1rem;
      margin-bottom: 25px;
    }
  }
}
