:root {
  --draft-black: 0, 0, 0;
  --draft-black-2: 51, 51, 51;
  --draft-black-3: 32, 34, 36;
  --draft-white: 255, 255, 255;
  --draft-white-2: 249, 250, 254;
  --draft-white-3: 224, 224, 224;
  --draft-blue-light: 0, 198, 183;
  --draft-red: 245, 61, 61;
  --draft-gray: 153, 153, 153;
}
