html {
  box-sizing: border-box;
}

html.active {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

.wrapper-outer {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.wrapper {
  padding-top: 79px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer {
  flex-shrink: 0;
}
