@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

body.lang_am {
  font-family: "Noto Sans", sans-serif;

  .caption__title {
    font-family: "Noto Sans", sans-serif;
  }

  .about__desc-info__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .contact-info__left-caption {
    font-family: "Noto Sans", sans-serif;
  }

  .marinade__view-item__right-caption {
    font-family: "Noto Sans", sans-serif;
  }

  .caption {
    font-family: "Noto Sans", sans-serif;
  }

  .dropdown__product-caption {
    font-family: "Noto Sans", sans-serif;
  }

  .gallery__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .about__desc-info__item-quantity {
    font-family: "Noto Sans", sans-serif;
  }

  .about__desc-info__item-name {
    font-family: "Noto Sans", sans-serif;
  }

  .news__item-title {
    font-family: "Noto Sans", sans-serif;
  }

  .news-read__slider-right__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .geography__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company__item-right__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company-desc__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company-desc__item-caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company-history__slider-header__caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company-history__slider-desc__date {
    font-family: "Noto Sans", sans-serif;
  }

  .dropdown__list-caption {
    font-family: "Noto Sans", sans-serif;
  }

  .company-desc__info p {
    font-family: "Noto Sans", sans-serif;
  }

  .about__desc-info p {
    font-family: "Noto Sans", sans-serif;
  }

  .company-history__slider-header__caption {
    font-size: 2.5rem;
  }
}

@media (max-width: 1850px) {
  body.lang_am {
    .company-history__slider-header__caption {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  body.lang_am {
    .caption__title {
      font-size: 1.5rem;
    }
  }
}
