:root {
  --art-green: 0, 91, 49;
  --art-green-light: 72, 167, 74;
  --art-green-light-2: 6, 84, 52;
  --art-green-light-3: 73, 169, 66;
  --art-white: 255, 255, 255;
  --art-white-2: 246, 246, 246;
  --art-gray: 133, 133, 133;
  --art-gray-dark: 43, 42, 42;
  --art-gray-light: 159, 163, 165;
  --art-black: 0, 0, 0;
  --art-red: 255, 0, 0;
}
